
.icon-alchemy:before { content: '\e800'; } /* '' */
.icon-amritapool:before { content: '\e801'; } /* '' */
.icon-selection:before { content: '\e803'; } /* '' */
.icon-handbook:before { content: '\e804'; } /* '' */
.icon-ignis:before { content: '\e805'; } /* '' */
