
.icon-remnant:before { content: '\e800'; } /* '' */
.icon-ui_amrita_pool-edited-v2:before { content: '\e801'; } /* '' */
.icon-adventure_handbook_guide_area-edited:before { content: '\e802'; } /* '' */
.icon-enemy_selection_arrow-edited-(1):before { content: '\e803'; } /* '' */
.icon-ignis_purgatorius_shape-edited:before { content: '\e804'; } /* '' */
.icon-ui_alchemy-edited:before { content: '\e805'; } /* '' */
