
.icon-remnant:before { content: '\e800'; } /* '' */
.icon-amritapool:before { content: '\e801'; } /* '' */
.icon-adventure:before { content: '\e802'; } /* '' */
.icon-enemy:before { content: '\e803'; } /* '' */
.icon-ignis:before { content: '\e804'; } /* '' */
.icon-alchemy:before { content: '\e805'; } /* '' */
